body {
    background-image: url(cloud9.jpg);
    font-family: 'Courier New', Courier, monospace;
}
.container {
    max-width: 600px;
    margin: 60px auto;
    background-color: rgba(250, 197, 223, 0.616);
    padding: 30px;
    box-shadow: 10px 5px 5px;
    border-radius: 10px;
}

.city {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px dashed grey;

}
.city:last-child {
    border: none;
}

h2 {
    margin: 0;
    font-size: 30px;
    margin-top: 20px;
}


.date {
    opacity: 0.7;

}
.time {
    font-size: 38px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 50px;
    margin-top: 20px;
}


select {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 10px;;
}

h1 {
    text-align: center;
    color: blueviolet;
}


footer {
    text-align: center;
    margin-top: 40px;
}